@import '../../style.scss';
.home{
  @include themify($themes){
    background-color: themed('bgSoft');
    padding: 10px;
    .container {  display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 2.1fr 1fr 0.1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "heading heading heading image image image"
        "description description description image image image"
        "description description description image image image"
        "footer footer footer footer footer footer"
        ". . . . . .";
    }
    
    .heading { 
      grid-area: heading; 
      width: 50vw;
      h2{}
      h3{}

    }
    
    .image { 
      grid-area: image;
      width: 50vw;
      img{
        width: 45vw;
        height: 60vh;
      } 
    }
    
    .description { 
      grid-area: description; 
      p{
        .list-icon{

        }
        .list-text{

        }
      }
      input{

      }
    }
    
    .footer { 
      grid-area: footer;
      .hr{
        hr{

        }
      }
      .social-media{
        a{
          .s-icon{

          }
          span{

          }
          .github{}
          .linkedIn{}
          .facebook{}
          .twitter{}
          .instagram{}
        }
      }
    }
    
  }
}