@import '../../style.scss';
.home{
  @include themify($themes){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: themed('bgSoft');
    height: calc(100vh - 7.2vh);
    h1{
      color: themed('textSecond');
    }
  }
}