@import '../../style.scss';
.home{
  @include themify($themes){

    background-color: themed('bgSoft');
    position: sticky;
    top: 7vh;
    height: calc(100vh - 7.2vh);
    .container {  
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 2.1fr 1fr 0.1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "heading heading heading image image image"
        "description description description image image image"
        "description description description image image image"
        "footer footer footer footer footer footer"
        ". . . . . .";
      @include mobile{
        display: flex;
        flex-direction: column;
      }
    }
    .heading { 
      grid-area: heading; 
      width: 50vw;
      @include mobile{
        width: auto;
      }
      h2{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bolder;
        color: themed('text');
        margin-left: 50px;
        margin-top: 50px;
        @include mobile{
          font-size: 16px;
          padding: 5px;
          margin-top: 10px;
          text-align: center;
          margin-top: 110px;
        }
      }
      h3{
        margin-left: 10px;
        color: themed('textThird');
        margin-bottom: 10px;
        margin-left: 50px;
        margin-top: 10px;
        @include mobile{
          font-size: 16px;
          margin-left: 0;
          padding: 5px;
          text-align: center;
        }
      }

    }
    .image { 
      grid-area: image;
      display: flex;
      justify-content: center;
      img{
        width: 75%;
        height: 80%;
        border-radius: 10px;
        margin-top: 10px;
        @include mobile{
          width: 95%;
          margin-top: 20px;
        }
      } 
    }
    .description { 
      grid-area: description; 
      margin-left: 50px;
      @include mobile{
        display: none;
      }
      p{
        margin-left: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0;
        @include mobile{
          gap: 5px;
        }
        .list-icon{
          color: themed('textSecond');
          @include mobile{
            width: 15px;
          }
        }
        .list-text{
          color: themed('textThird');
          font-size: 1vw;
          @include mobile{
            font-size: 16px;
            font-weight: bold;
            margin-top: 5px;
          }
        }
      }
      input{
        cursor: pointer;
        width: 10vw;
        height: 5vh;
        border: none;
        margin-left: 10px;
        margin-top: 10px;
        background-color: themed('button');
        color: themed('buttonText');
        border-radius: 5px;
        font-size: 1.2vw;
        @include mobile{
          width: 20vw;
        font-size: 14px;

        }
      }
    }
    .footer { 
      grid-area: footer;
      display: flex;
      align-items: center;
      margin-top: 12vh;
      gap: 70px;

      @include mobile{
        gap: 0;
        margin-top: 10vh;
        justify-content: center;
      }
      .hr{
        width: 40vw;
        @include mobile{
          width: 0;
        }
        hr{
          border: 10px solid black;
          width: 100%;
          @include mobile{
            display: none;
          }
        }
      }
      .social-media{
        display: flex;
        align-items: center;
        gap: 20px;
        @include mobile{
          display: flex;
          gap: 10px;
        }
        a{
          display: flex;
          align-items: center;
          gap: 5px;
          .s-icon{
            @include mobile{
              width: 40px;
              height: 40px;
            }
           }
          span{
            color: themed('text');
            @include mobile{
              display: none;
            }
          }
          .github{ color: black; }
          .linkedIn, .twitter{ color: rgb(26, 97, 169); }
          .facebook{ color: rgb(0, 72, 161); }
          .instagram{ color: purple; }
        }
      }
    } 
  }
}