@import "../src/style.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
